[submodule "05-build-and-push/vote-ui"]
	path = 05-build-and-push/vote-ui
	url = gh:openshift-pipelines/vote-ui
[submodule "07-pipelines"]
	path = 07-pipelines
	url = gh:openshift/pipelines-tutorial
[submodule "08-pipelines/triggers"]
	path = 08-pipelines/triggers
	url = gh:tektoncd/triggers
